{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 182,
	"trailingComma": "es5",
	"bracketSpacing": false,
	"plugins": ["@prettier/plugin-php"],
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.php"],
			"options": {
				"parser": "php",
				"tabWidth": 4,
				"singleQuote": true
			}
		}
	]
}
