.policy {
	padding: 120px 0;

	&__title {
		margin-bottom: 40px;
		text-align: center;
	}

	&__content {
		max-width: 800px;
		margin: 0 auto;
		
		h2 {
			font-size: 24px;
			margin-top: 40px;
			margin-bottom: 20px;
			font-weight: 600;
		}

		p {
			margin-bottom: 15px;
			line-height: 1.6;
			color: var(--dark);
		}

		ul {
			margin-bottom: 20px;
			padding-left: 20px;
			list-style-type: disc;

			li {
				margin-bottom: 10px;
				line-height: 1.5;
			}
		}

		a {
			color: var(--accent);
			text-decoration: underline;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.8;
				text-decoration: none;
			}
		}
	}
}
