.button {
  border-width: 0px;
  border-radius: 30px;
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: clamp(16px, 2vw, 20px) clamp(24px, 3vw, 60px);
  font-size: 16px;

}

.btn-d {
  color: #ffffff;
  background-color: #333333;

  &:hover {
    transform: scale(1.1);
    background-color: #333333dd;
  }

}

.btn-l {
  color: #333333;
  background-color: #fff;

  &:hover {
    transform: scale(1.1);
    background-color: #ffffffdd;
  }
}

a {
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &:hover {
    transform: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: var(--acc);
  }
}